
/* File parziale per le variabili. Sarà poi importato dal file principale */

/* VARIABILI
===============================================================================================
=============================================================================================== */

/* colori palette VECCHIO PROGETTO */
$orange: #EB7F00; /* rgba(235, 127, 0, 1) */
$white: #F3FFE2;
$skyBlue: #ACF0F2;
$turquoise: #1695A3; /* rgba(22, 149, 163, 1) */
$blue: #225378; /* rgba(34, 83, 120, 1) */

$primaryTextColor: #444444;
$secondaryTextColor: #999999;
$pureWhite: #FFFFFF;
$pureSilver: #C0C0C0;
$backgroundColor: #f5f5f5;